{% load extras %}
<input type="hidden" name="action" value="{{ action }}">
<input type="hidden" name="id" value="{{ id }}">
{% for field in form %}
    {% if field.field.widget.attrs.separator %}
        {% if field.field.widget.attrs.blanklinebefore %}
        {% endif %}
        <div style="width: 100%; height: max-content">
            <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                <span style="padding:0 10px; background: #f5f5f5;">
                    {% if field.field.widget.attrs.separatortitle %}
                        {{ field.field.widget.attrs.separatortitle }}
                    {% endif %}
                 </span>
            </h6>
        </div>
    {% endif %}
    <div id="fieldset_{{ field.name }}" class="col-lg-{% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}12{% endif %}" style="float: left; padding-right: 10px;">
        <label class="control-label pr-2" for="id_{{ field.name }}">
            <b>{{ field.label }}&nbsp;:</b>
        </label>
         <div style="width:{% if not field.field.widget.attrs.controlwidth %}100%{% else %}{{ field.field.widget.attrs.controlwidth }}{% endif %};">
            {% if field.field.widget.attrs.select2search %}
                <select id="id_{{ field.name }}_select2" style="width: 100%"
                        {% if field.field.widget.attrs.disabled %}disabled=""{% endif %}>
                    <option value="0" selected="selected">---------</option>
                </select>
                <input name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}"
                       hidden="hidden"
                       type="hidden"
                       {% if field.field.widget.attrs.descripcion %}descripcion="{{ field.field.widget.attrs.descripcion }}"{% endif %}
                       class="select2hidden">
            {% elif field.name == 'archivo' %}
                <input type="file" name="{{ field.name }}" {% if filtro.archivo %}data-default-file="/media/{{ filtro.archivo }}" value="/media/{{ filtro.archivo }}"{% endif %}
                       class="form-control" id="id_{{ field.name }}" data-allowed-file-extensions="jpg png jpeg">
                {% if filtro.archivo %}
                    <a href="/media/{{ filtro.archivo }}" target="_blank"><i class="fa fa-download"></i>
                        {{ filtro.archivo }}</a>
                {% endif %}
            {% else %}
                {{ field }}
            {% endif %}
        </div>
        <p class="help-text">{{ field.help_text }} </p>
    </div>
{% endfor %}
