{% extends "index.html" %}
{% load extras %}
{% block cabecera %}
    <script type="text/javascript" src="/static/js/jquery.isloading.min.js"></script>
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>
    <link href="/static/pivot/dist/pivot.css" rel="stylesheet">
    <script src="/static/pivot/dist/pivot.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

    <!-- PivotTable.js libs from ../dist -->
    <script type="text/javascript" src="/static/pivot/dist/export_renderers.js"></script>
    <script type="text/javascript" src="/static/pivot/dist/d3_renderers.js"></script>
    <script type="text/javascript" src="/static/pivot/dist/c3_renderers.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#sucursalvendedor").click(function () {
                $("#output").html("");
                var derivers = $.pivotUtilities.derivers;
                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers,
                    $.pivotUtilities.export_renderers
                );
                $.getJSON("/dinamico?action=sucursalvendedor", function (mps) {
                    $("#output").pivotUI(mps, {
                        renderers: renderers,
                    });
                });
            });


            $("#factura").click(function () {
                $("#output").html("");
                var derivers = $.pivotUtilities.derivers;
                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers,
                    $.pivotUtilities.export_renderers
                );
                $.getJSON("/dinamico?action=factura", function (mps) {
                    $("#output").pivotUI(mps, {
                        renderers: renderers,
                    });
                });
            });


            $("#itemequivalencia").click(function () {
                $("#output").html("");
                var derivers = $.pivotUtilities.derivers;
                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers,
                    $.pivotUtilities.export_renderers
                );
                $.getJSON("/dinamico?action=itemequivalencia", function (mps) {
                    $("#output").pivotUI(mps, {
                        renderers: renderers,
                    });
                });
            });

        });
    </script>
{% endblock %}
{% block atras-titulo %}
    <div class="section-header-back">
        <div class="row">
            <div class="col-1">
                <a href="/" class="btn btn-light btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                </a>
            </div>
            <div class="col-11">
                <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
            </div>
        </div>
    </div>
{% endblock %}
{% block cuerpo %}

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th style="text-align: center; font-weight: bold; width: 70px;">
                        <a href="javascript:;" id="sucursalvendedor" class="btn btn-sm btn-success "><i class="fas fa-chart-area"></i> Sucursal vendedor
                        </a>
                    </th>
                    <th style="text-align: center; font-weight: bold; width: 70px;">
                        <a href="javascript:;" id="factura" class="btn btn-sm btn-success "><i class="fas fa-chart-area"></i> Facturas Venta
                        </a>
                    </th>
                    <th style="text-align: center; font-weight: bold; width: 70px;">
                        <a href="javascript:;" id="itemequivalencia" class="btn btn-sm btn-success "><i class="fas fa-chart-area"></i> Items / UM / Equivalencia
                        </a>
                    </th>
                </tr>
                </thead>
            </table>
            <div id="output"></div>
        </div>
    </div>

{% endblock %}